/* Charcoal overrides */

body {
  background: #293134;
  scrollbar-base-color: #293134;
  scrollbar-face-color: #4b595f;
  scrollbar-3dlight-color: #293134;
  scrollbar-highlight-color: #293134;
  scrollbar-track-color: #4b595f;
  scrollbar-arrow-color: #293134;
  scrollbar-shadow-color: #293134;
  scrollbar-dark-shadow-color: #293134;
}

h1 {
  color: #ffc042;
}